<form method="POST" action="/{{id}}/setpass">
    <label for="password">Enter Password</label>
    <br/>
    <input type="password" name="password" id="password">
    <br/>
    <label for="confpword">Confirm Password</label>
    <br/>
    <input type="password" name="confpword" id="confpword">
    <br/>
    <button type="submit" name="resetbtn" id="resetbtn">Reset Password</button>
</form>